@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese');
@import url('https://fonts.googleapis.com/css?family=Prompt:300,400,600,700,800&subset=thai');
@import url(//fonts.googleapis.com/earlyaccess/notokufiarabic.css);
/* ARABIC STYLE AUTOMATION */
/*rtl:raw:@import url(//fonts.googleapis.com/earlyaccess/droidarabickufi.css)*/
/* BASE */
/* EX
@mixin sm-min {
	padding: 0;
}
*/
/* XS - Extra Small Devices - - - - - - - - - - - - - - - */
/* SM - Small Devices - - - - - - - - - - - - - - - */
/* MD - Medium Devices - - - - - - - - - - - - - - - */
/* LG - Large Devices - - - - - - - - - - - - - - - */
/* XL - Extra Large Devices - - - - - - - - - - - - - - - */
.wrapper {
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}
.wrapper:before {
  content: '';
  display: table;
}
.wrapper:after {
  content: '';
  display: table;
  clear: both;
}
@media (min-width: 992px) {
.wrapper {
    padding-left: 15px;
    padding-right: 15px
}
		}
html, body {
	direction: ltr;
	color: #35771F;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	color: #606060;
}
*, *:before, *:after {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}
img {
	max-width: 100%;
	height: auto;
}
a {
	color: #007DB3;
}
a:hover {
	color: #007DB3;
}
.content {
	margin-top: 0;
}
ul li::before {
	content: none !important;
}
.node-hub .field-collection-container .field-collection-view {
	padding: 0;
}
.breadcrumb-container,
.title-container {
	display: none;
}
#wrapper {
	max-width: 100%;
	padding: 0;
	margin: 0;
}
#content .region-content {
	width: 100% !important;
}
.fullwidth { 
	width: 100vw;
	position: relative;
	left: -o-calc(-50vw + 50%);
	left: calc(-50vw + 50%);
}
.fullwidth:before {
		content: " ";
		display: table;
	}
.fullwidth:after {
		content: " ";
		display: table;
		clear: both;
	}
@media (max-width: 767px) {
.fullwidth {
		width: 100%;
		left: inherit
}
		}
.flex-container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-flow: row wrap;
	    flex-flow: row wrap;

	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	
	-ms-flex-pack: distribute;
	justify-content: space-around;
}
.flex-container.vertical-stretch {
		-webkit-box-align: stretch;
		    -ms-flex-align: stretch;
		        align-items: stretch;
	}
.flex-container.vertical-start {
		-webkit-box-align: start;
		    -ms-flex-align: start;
		        align-items: flex-start;
	}
.flex-container.vertical-center {
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
	}
.flex-container.vertical-end {
		-webkit-box-align: end;
		    -ms-flex-align: end;
		        align-items: flex-end;
	}
.flex-container.horizontal-start {
		-webkit-box-pack: start;
		    -ms-flex-pack: start;
		        justify-content: flex-start;
	}
.flex-container.horizontal-center {
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
	}
.flex-container.horizontal-end {
		-webkit-box-pack: end;
		    -ms-flex-pack: end;
		        justify-content: flex-end;
	}
.flex-container.grid {
		margin-left: -15px;
		margin-right: -15px;
	}
.flex-container.grid .flex-item {
			padding: 0.5em 15px;
		}
body .node * {
	font-family: 'Open Sans',sans-serif;
}
:lang(ar) body,
:lang(ar-SA) body,
:lang(ar) body .node *,
:lang(ar-SA) body .node * {
  font-family: 'Open Sans', 'Noto Kufi Arabic', sans-serif;
}
:lang(cn) body,
:lang(zh) body,
:lang(cn) body .node *,
:lang(zh) body .node *,
:lang(zh-CN) body .node *,
:lang(zh-hans) body .node *,
:lang(zh-hans-CN) body .node * {
  font-family: 'Open Sans', 'Microsoft YaHei', 'SimHei', Sans-serif;
}
:lang(tw) body,
:lang(hk) body,
:lang(tw) body .node *,
:lang(hk) body .node *,
:lang(zh-HK) body .node *,
:lang(zh-TW) body .node *,
:lang(zh-hant) body .node *,
:lang(zh-hant-HK) body .node *,
:lang(zh-hant-TW) body .node * {
  font-family: 'Open Sans', 'Microsoft JhengHei', 'SimHei', Sans-serif;
}
:lang(ko) body,
:lang(ko) body .node *,
:lang(ko-KR) body .node * {
  font-family: 'Open Sans', 'Malgun Gothic', Sans-serif;
}
:lang(jp) body,
:lang(jp) body .node *,
:lang(jp-JP) body .node * {
  font-family: 'Open Sans', 'Meiryo', Sans-serif;
}
:lang(th) body,
:lang(th) body .node *,
:lang(th-TH) body .node * {
  font-family: 'Open Sans', 'Prompt', Sans-serif;
}
/* MODULE */
/* This file contains very basic styles. */
.field-item .section-content {
		border-top: 1px solid rgba(0,0,0,0.05);
		border-width: 1px 0 0;
		border-style: solid;
		-o-border-image: linear-gradient(90deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, .1) 50%, rgba(0, 0, 0, 0) 100%) 2%;
		   border-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0)), color-stop(50%, rgba(0, 0, 0, .1)), to(rgba(0, 0, 0, 0))) 2%;
		   border-image: linear-gradient(90deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, .1) 50%, rgba(0, 0, 0, 0) 100%) 2%;
	}
@media (max-width: 767px) {
.field-item .section-content {
			padding: 30px 0
	}
		}
@media (min-width: 768px) {
.field-item .section-content {
			padding: 5% 0
	}
		}
.field-item .section-content p,
		.field-item .section-content ul,
		.field-item .section-content ol {
			margin-bottom: 1.2em;
		}
.field-item .section-content li {
			padding-right: 0;
			margin-bottom: 0.4em;
		}
.field-item .section-content ul.bullet-points {
			list-style: none;
			margin: 0;
			padding: 0 0 0 20px;
		}
.field-item .section-content ul.bullet-points li {
				position: relative;
				padding-right: 0;
				margin-bottom: 0.4em;
			}
.field-item .section-content ul.bullet-points li:before {
					content: '';
					display: inline-block;
					position: absolute;
					top: 8px;
					left: -16px;
					width: 6px;
					height: 6px;
					border-radius: 50%;
					background: #007DB3;
				}
.field-item .section-content h2,
		.field-item .section-content h3,
		.field-item .section-content h4,
		.field-item .section-content h5 {
			color: #202020;
			line-height: 1.1em;
		}
.field-item .section-content .btn {
			background-color: #007DB3;
		}
.field-item .section-content .section-head {
			text-align: center;
			padding-bottom: 10px;
		}
.field-item .section-content .section-head h2.title {
				color: #202020;
				font-weight: 700;
				text-transform: uppercase;
				text-align: center;
				margin-bottom: 0.5em;
				font-size: 24px;
			}
@media (min-width: 768px) {
.field-item .section-content .section-head h2.title { font-size: 26px
			}
		}
@media (min-width: 992px) {
.field-item .section-content .section-head h2.title { font-size: 28px
			}
		}
@media (min-width: 1200px) {
.field-item .section-content .section-head h2.title { font-size: 32px
			}
		}
.field-item .section-content .section-head h2.title .m-title {
					display: block;
					text-align: left;
				}
.field-item .section-content .section-head .desc {
				max-width: 860px;
				margin-left: auto;
				margin-right: auto;
				color: #404040;
				font-size: 14px;
			}
@media (min-width: 768px) {
.field-item .section-content .section-head .desc { font-size: 16px
			}
		}
@media (min-width: 992px) {
.field-item .section-content .section-head .desc { font-size: 18px
			}
		}
.field-item .section-content .section-body .collapsible-item {
				padding-top: 15px;
				padding-bottom: 15px;
			}
@media (min-width: 768px) {
.field-item .section-content .section-body .collapsible-item {
					display: block;
					padding: 0
			}
		}
.field-item .section-content .cta-container {
			margin: 1em 0;
			text-align: center;
			
		}
.field-item .section-content .cta-container a {
				display: inline-block;
			}
.field-item .section-content .cta-container a.btn {
					min-width: 290px;
					padding: 14px 8px;
					background-color: #007DB3;
					margin-top: 3px;
					margin-bottom: 12px;
					line-height: 1.1;
				}
.field-item .section-content .cta-container a.btn .btn-label {
						padding: 0 0 6px 0;
						font-size: 16px;
						font-weight: 700;
					}
.field-item .section-content .cta-container a.btn .btn-sub {
						font-size: 10px;
						font-weight: 400;
					}
.field-item .section-content .cta-container a.text {
					font-weight: 600;
					text-transform: uppercase;
					text-decoration: underline;
				}
/* Do not edit modules/_sprite directly as it is generated automatically by Gulp.
Instead edit gulp/templates/sprite */
.icon {
  background-image: url('../../assets/images/sprites/sprite-17b20a1c.svg')/*rtl:ignore*/;
}
.no-svg .icon {
  background-image: url('../../assets/images/sprites/sprite-17b20a1c.png')/*rtl:ignore*/;

}
.icon--kaplan-accommodation {
  width: 102px;
  height: 102px;
  background-position: 0 0/*rtl:ignore*/;
}
.icon--kaplan-course {
  width: 102px;
  height: 102px;
  background-position: 100% 0/*rtl:ignore*/;
}
.icon--kaplan-destination {
  width: 102px;
  height: 102px;
  background-position: 0 100%/*rtl:ignore*/;
}
.field-item .section--hero {
		padding: 0;
	}
.field-item .section--hero .hero .hero-item-container {
				position: relative;
				z-index: 1;
			}
.field-item .section--hero .hero .hero-item-container .hero-image {
					background-color: #000;
					position: absolute;
					z-index: -1;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;

				}
.field-item .section--hero .hero .hero-item-container .hero-image * {
						width: 100%;
						height: 100%;
					}
.field-item .section--hero .hero .hero-item-container .hero-image .item-bg { background-image: url('../../assets/images/summer-2018-xl.jpg'); }
@media (min-width: 768px) {
						.field-item .section--hero .hero .hero-item-container .hero-image .item-bg { background-image: url('../../assets/images/summer-2018-xl.jpg'); }
		}
@media (min-width: 992px) {
						.field-item .section--hero .hero .hero-item-container .hero-image .item-bg { background-image: url('../../assets/images/summer-2018-xl.jpg'); }
		}
@media (min-width: 1200px) {
						.field-item .section--hero .hero .hero-item-container .hero-image .item-bg { background-image: url('../../assets/images/summer-2018-xl.jpg'); }
		}
.field-item .section--hero .hero .hero-item-container .hero-text {
					text-align: center;
					color: #FFFFFF;
					background-color: rgba(0,0,0,0.1);
					background-size: 100% 100%;
				}
@media (max-width: 767px) {
.field-item .section--hero .hero .hero-item-container .hero-text {
						padding: 25% 0 25% 0;
						background: rgba(0,0,0,0.25)
				}
		}
@media (min-width: 768px) {
.field-item .section--hero .hero .hero-item-container .hero-text {
						padding: 15% 0
				}
		}
@media (min-width: 992px) {
.field-item .section--hero .hero .hero-item-container .hero-text {
						padding: 10% 0
				}
		}
@media (min-width: 1200px) {
.field-item .section--hero .hero .hero-item-container .hero-text {
						padding: 8% 0
				}
		}
.field-item .section--hero .hero .hero-item-container .hero-text h1.title {							
						text-transform: uppercase;
						font-weight: 800;
						font-size: 30px;
					}
@media (min-width: 768px) {
.field-item .section--hero .hero .hero-item-container .hero-text h1.title {font-size: 46px
					}
		}
@media (min-width: 992px) {
.field-item .section--hero .hero .hero-item-container .hero-text h1.title {font-size: 48px
					}
		}
@media (min-width: 1200px) {
.field-item .section--hero .hero .hero-item-container .hero-text h1.title {font-size: 62px
					}
		}
@media (min-width: 1600px) {
.field-item .section--hero .hero .hero-item-container .hero-text h1.title {font-size: 68px
					}
		}
.field-item .section--hero .hero .hero-item-container .hero-text h3.strapline {
						color: #FFFFFF;
						font-weight: 400;
						margin: 1em 0;
						padding: 0;
						font-size: 14px;
						text-shadow: 1px 1px 16px rgba(0, 0, 0, 0.5);
					}
@media (min-width: 768px) {
.field-item .section--hero .hero .hero-item-container .hero-text h3.strapline { font-size: 18px
					}
		}
@media (min-width: 992px) {
.field-item .section--hero .hero .hero-item-container .hero-text h3.strapline { font-size: 20px; padding: 0 10%
					}
		}
@media (min-width: 1200px) {
.field-item .section--hero .hero .hero-item-container .hero-text h3.strapline { font-size: 24px; padding: 0 12%
					}
		}
.field-item .section--hero .hero .hero-item-container .hero-text .btn.hero-btn {
							position: relative;
							z-index: 1;
							font-size: 14px !important;
							color: #FFFFFF;
							text-transform: uppercase;
							font-weight: 600;
							line-height: 1.1;
							margin: 0.25em;
							padding: 1.1em 1em;
							width: 100%;
							max-width: 290px;
							overflow: hidden;
							white-space: nowrap;
						}
.field-item .section--hero .hero .hero-item-container .hero-text .btn.hero-btn.primary {
								background-color: #007DB3;
								border: 1px solid transparent;
							}
.field-item .section--hero .hero .hero-item-container .hero-text .btn.hero-btn.secondary {
								background-color: transparent;
								border: 1px solid #FFFFFF;
							}
.field-item .section--hero .hero .hero-item-container .hero-text .btn.hero-btn.main-cta-ani {
								background: -webkit-gradient(linear, right top, left top, from(#007DB3), color-stop(#007DB3), color-stop(#00E4FF), color-stop(#007DB3), to(#007DB3));
								background: linear-gradient(270deg, #007DB3, #007DB3, #00E4FF, #007DB3, #007DB3);
								background-size: 1000% 1000%;
								-webkit-animation: Gradation-Ani 6s ease infinite;
								animation: Gradation-Ani 6s ease infinite;
							}
.field-item .section--hero .hero .hero-item-container .hero-text .btn.hero-btn:before {
								content: '';
								position: absolute;
								z-index: -1;
								top: 0;
								left: 0;
								width: 0;
								height: 100%;
								background-color: #240F6E;
								-webkit-transition: width .3s;
								transition: width .3s;
							}
@media (min-width: 768px) {
.field-item .section--hero .hero .hero-item-container .hero-text .btn.hero-btn {
								width: auto;
								min-width: 250px
						}
		}
@media (min-width: 992px) {
.field-item .section--hero .hero .hero-item-container .hero-text .btn.hero-btn {
								font-size: 16px !important
						}

								.field-item .section--hero .hero .hero-item-container .hero-text .btn.hero-btn:hover {
									border-color: #240F6E;

								}

									.field-item .section--hero .hero .hero-item-container .hero-text .btn.hero-btn:hover:before {
										width: 100%;
									}
		}
/* Gradient Animation */
@-webkit-keyframes Gradation-Ani {
	0% { background-position: 100% 50%; }
	100% { background-position: 0% 50%; }
}
@keyframes Gradation-Ani { 
	0% { background-position: 100% 50%; }
	100% { background-position: 0% 50%; }
}
.field-item .section--package .package {
			
		}
.field-item .section--process {
		background-image: url('../../assets/images/summer-bg.jpg');
		background-attachment: fixed;
	}
.field-item .section--process .process .flex-item {
				-webkit-box-flex: 0;
				    -ms-flex: 0 0 33.33333333%;
				        flex: 0 0 33.33333333%;
				max-width: 33.33333333%;
			}
.field-item .section--process .process .flex-item .item-box {
					/* background-color: $color-white; */
					padding: 18px;
					height: 100%;
					text-align: center;
				}
.field-item .section--process .process .flex-item .item-box .icon-container .icon {
							-webkit-transform: scale(0.68);
							        transform: scale(0.68);
						}
.field-item .section--process .process .flex-item .item-box .desc-container .title {
							font-size: 18px;
							font-weight: 700;
							text-transform: uppercase;
							margin: 0 0 0.2em 0;
						}
.field-item .section--process .process .flex-item .item-box .desc-container .strapline {
							position: relative;
							font-weight: 700;
							margin-bottom: 20px;
							padding-bottom: 20px;
							color: #202020;
						}
.field-item .section--process .process .flex-item .item-box .desc-container .strapline:before {
								content: '';
								position: absolute;
								bottom: 0;
								left: calc(50% - 20px);
								width: 40px;
								height: 3px;
								background-color: #007DB3;
							}
div {
	
}
div.course-form {
		background-color: #E0E0E0;
	}


 