.large-hero {
  position: relative;
  background: url('https://assetlibs.kaplaninternational.com/_assets/about-benefits/images/large-hero-small.jpg') top center no-repeat;
  background-size: cover;
  background-color: #275db7;
  width: 100%;
  min-height: 420px;

  @mixin atSmall {
    background: url('https://assetlibs.kaplaninternational.com/_assets/about-benefits/images/large-hero.jpg') top center no-repeat;
    background-size: cover;
    min-height: 354px;
  }

  @mixin atMedium {
    min-height: 354px;
  }

  @mixin atLarge {
    min-height: 354px;
  }

  &__content {
    position: absolute;
    bottom: 0;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 8%;
    padding-bottom: 8%;
    background: -moz-linear-gradient(top, rgba(36, 15, 110, 0) 0%, rgba(36, 15, 110, 0) 1%, rgba(36, 15, 110, 0.5) 60%, rgba(36, 15, 110, 0.5) 100%);
    background: -webkit-linear-gradient(top, rgba(36, 15, 110, 0) 0%, rgba(36, 15, 110, 0) 1%, rgba(36, 15, 110, 0.5) 60%, rgba(36, 15, 110, 0.5) 100%);
    background: linear-gradient(to bottom, rgba(36, 15, 110, 0) 0%, rgba(36, 15, 110, 0) 1%, rgba(36, 15, 110, 0.5) 60%, rgba(36, 15, 110, 0.5) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00240f6e', endColorstr='#80240f6e', GradientType=0);

    @mixin atSmall {
      @mixin centeredY;
      padding-left: 15px;
      padding-right: 15px;
      width: 100%;
      background: none;
      padding-bottom: 0;
      bottom: auto;
      padding-top: 0;
    }

    h1 {
      font-size: 28px;
      color: white;
      text-transform: uppercase;
      text-align: center;
      font-weight: 800;
      margin: 10px 0;
      text-shadow: 1px 1px 9px rgba(0, 0, 0, 0.4);

      @mixin atSmall {
        font-size: 38px;
      }

      @mixin atMedium {
        font-size: 42px;
      }

      @mixin atLarge {
        font-size: 48px;
      }

    }

    h3 {
      font-size: 16px;
      color: white;
      text-transform: uppercase;
      text-align: center;
      line-height: 1.25em;
      font-weight: 600;
      margin: 0 0 10px 0;
      text-shadow: 1px 1px 9px rgba(0, 0, 0, 0.4);

      @mixin atSmall {
        font-size: 20px;
      }

      @mixin atMedium {
        font-size: 20px;
      }

      @mixin atLarge {
        font-size: 24px;
        padding-bottom: 20px;
      }

    }

    p {
      font-size: 14px;
      color: white;
      text-align: center;
      text-shadow: 1px 1px 9px rgba(0, 0, 0, 0.4);
      margin-bottom: 1.5em;

      @mixin atSmall {
        font-size: 13px;
      }

      @mixin atMedium {
        font-size: 16px;
      }

      @mixin atLarge {
        font-size: 18px;
      }

    }

    h1,
    h3,
    p {
      @mixin atSmall {
        max-width: 768px;
        margin-left: auto;
        margin-right: auto;
      }

      @mixin atMedium {
        max-width: 992px;
      }

      @mixin atLarge {
        max-width: 1170px;
      }

    }

  }

}