.reveal-item {
  opacity: 0;
  transition: all .9s ease-out;


  &--is-visible {
    opacity: 1;
  }
}

.reveal-chart {
  opacity: 0;
  transition: all .9s ease-out;
  transform: scaleY(.0);
  transform-origin: 0 100%;


  &--is-visible {
    opacity: 1;
    transform: scaleY(1)
  }
}

